@model CampingLaRustique.Models.Reservering

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservering</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KlantID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KlantID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlekID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlekID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prijs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Betaald)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Betaald)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Reserveringsnummer">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
